// base Winnetou Icons Style
.winIcons {
  width: 55px;
  height: 55px;
  &:hover {
    fill: blue;
    cursor: pointer;
  }
}

// base Winnetou Colored Icons Style
.winColoredIcons {
  width: 55px;
  height: 55px;
  &:hover {
    cursor: pointer;
  }
}

// dual tone icons
.dualTone {
  .fa-primary {
    fill: green;
  }
  .fa-secondary {
    fill: #72c308;
  }
  &:hover {
    .fa-primary {
      fill: rgb(18, 52, 102);
    }
    .fa-secondary {
      fill: #c308aa;
    }
  }
}
